@charset "UTF-8";
.q8-1{
  background-image: url("../../image/coffee-background.jpg");
  height: 500px;
}
.q8-2{
  background: url("../../image/coffee-background.jpg") no-repeat;
  height: 500px;
}
.q8-3{
  background: url("../../image/coffee-background.jpg") no-repeat center/cover;
  height: 500px;
}
.q8-4{
  background: url("../../image/coffee-background.jpg") no-repeat center/contain;
  height: 500px;
}